{% load static compress tailwind_tags %}
<!DOCTYPE html>
<html lang="bg">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
            {% block title %}
                Domakin
            {% endblock title %}
        </title>
        {% compress css %}
            {% tailwind_css %}
        {% endcompress %}
        {% compress js %}
            <script src="{% static "js/htmx.min.js" %}" defer></script>
        {% endcompress %}
    </head>
    <body>
        {% include "common/navigation.html" %}
        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>
