{% load static compress tailwind_tags %}
<!DOCTYPE html>
<html lang="bg">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
            {% block title %}
                Domakin
            {% endblock title %}
        </title>
        {% compress css %}
            {% tailwind_css %}
        {% endcompress %}
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>
